#header.section
  = render partial: 'header_background_block'
  = render partial: 'social_post_block'
  = render partial: 'join_campaign_block'
  = render partial: 'account_header_block'
  = render partial: 'new_background_icon'
