%h1 Media
%p Upload photos and share videos of you and your campaign.

.inner
  .row
    = render 'medium_preview', title:      "#{current_profile.labels[:profile_photo]}",
                               image_path: current_profile.photo_url(:thumb),
                               edit_path:  edit_profile_photo_path

    = render 'medium_preview', title:      'Background Image',
                               image_path: current_profile.background_image_url(:thumb),
                               edit_path:  edit_profile_background_image_path

    = render 'medium_preview', title:      'Featured Media',
                               image_path: current_profile.hero_unit_url(:thumb),
                               edit_path:  edit_profile_hero_unit_path

  .media-wrapper.media-stream.media-bucket
    .field-inset
      = render 'edit_media_stream_button'

      %h3
        Media Stream
        %i.icon-help-circled.tip{ data: { placement: 'right' },
                                  title: 'Click and drag to re-order the media in your Media Stream' }

      - if current_profile.media_stream_items.present?
        = render 'media_stream_items_list', collection: current_profile.media_stream_items
      - else
        = render 'empty_media_stream_message'

      - if current_profile.media_stream_items.present?
        = render 'edit_media_stream_button'

:javascript
  RuckusAdmin._applySortable();
  $("i.tip").tooltip();
