- title("#{app_name} Admin | Dashboard")
- bodyclasses('dashboard')

= render 'shared/profile/nav', submenu: :dashboard, profile: current_profile

.content
  .inner
    .row
      .col-xs-6
        .dashboard-header.clearfix
          %div{ class: "profile-image profile-image-#{current_profile.labels[:type]}" }
            = image_tag current_profile.photo_url(:thumb)
            = link_to profile_builder_path(resources: :photo), class: 'edit-link edit-account-image', id: 'add-new-profile-photo-button' do
              %i.i-icon.i-photo


          .dashboard-header-text
            - if current_profile.active?
              %h1= link_to clean_url(profile_path(current_profile)), profile_path(current_profile), target: '_blank'
            - else
              %h1= link_to clean_url(profile_path(current_profile)), profile_preview_profile_path(current_profile), target: '_blank'
            = link_to 'Edit Domain', profile_domains_path
            - if current_profile.premium?
              .premium-label.premium upgraded
              .premium-cancel= link_to 'cancel', cancel_account_profile_credit_card_holder_path(current_profile), class: 'js-edit-modal'

      .col-xs-4.pull-right
        .dashboard-dropdown.dropdown.add-new
          = button_tag class: 'button large', data: { toggle: 'dropdown' } do
            %i.icon-plus-circled
            Add New...
            %i.icon-down-open
          %ul.dropdown-menu
            %li
              = link_to profile_builder_path(resources: current_profile.labels[:issues_name].to_sym), tabindex: '-1' do
                %i.icon-megaphone
                #{current_profile.labels[:issues]}
            %li
              = link_to profile_builder_path(resources: :events), tabindex: '-1' do
                %i.icon-doc
                Events
            %li
              = link_to profile_builder_path(resources: :press), tabindex: '-1' do
                %i.icon-camera
                Press
            %li
              = link_to profile_builder_path(resources: :photo), tabindex: '-1' do
                %i.icon-camera
                #{current_profile.labels[:profile_photo]}
            %li
              = link_to profile_builder_path(resources: :featured), tabindex: '-1' do
                %i.icon-camera
                Featured Image/Video
            %li
              = link_to profile_builder_path(resources: :background), tabindex: '-1' do
                %i.icon-camera
                Background Image
            %li
              = link_to profile_builder_path(resources: :stream), tabindex: '-1' do
                %i.icon-camera
                Photostream
      .col-xs-12
        .row.metrics
          .col-xs-5
            %h3 Social Feed
            .field-inset.sidebar
              = simple_form_for [:profile, @social_post], html: { id: 'socialfeed-create',
                                                                    remote: true } do |f|
                = f.input :message, as: :text, placeholder: "Post new update as #{current_profile.name}?", class: 'required', label: false
                - if current_profile.facebook_account_active?
                  %label.checkbox.checkbox-facebook
                    = f.input_field :provider, type: 'checkbox', value: 'facebook', name: 'social_post[provider][]'
                    %span facebook
                - if current_profile.twitter_account_active?
                  %label.checkbox.checkbox-twitter
                    = f.input_field :provider, type: 'checkbox', value: 'twitter', name: 'social_post[provider][]'
                    %span.twitter twitter
                .form-actions
                  = f.button :submit, 'Update', class: 'button'
            .field-inset.post
              %ul.no-style.post-feed
                = render partial: 'profile/social_posts/social_post', collection: @social_posts

          .col-xs-7
            .row.metrics
              .col-xs-6
                %h3 Dollars Raised
                %span.extra-large-text= number_to_currency(@donations_raised)
                %ul.inline-actions
                  %li= link_to 'Donor List', profile_donations_path
                  %li= link_to 'Donations Settings', edit_profile_page_option_path

              .col-xs-6
                %h3 Subscribers
                %span.extra-large-text#subscriptoins-count= number_with_delimiter(@users_count)
                %ul.inline-actions
                  %li= link_to 'View Subscriber List', profile_subscriptions_path

            .divider

            .row
              .col-xs-12
                #upcoming_events
                  %h3
                    Upcoming Events
                    = link_to 'Manage', profile_builder_path(resources: :events)
                  - @events_by_month.each do |month, events|
                    .month
                      %p=l month, format: :month_only
                    - events.each do |event|
                      %span.data=l event.start_time, format: :day_only
                      .informations
                        %h1= event.title
                        .events
                          %p=time_in_dashboard(event)
