.devise_page
  %h2 Change your password
  .devise_form
    = simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :patch }) do |f|
      = f.error_notification

      = f.input :reset_password_token, as: :hidden
      = f.full_error :reset_password_token

      .form_inputs
        %table
          %tr
            %td= f.label :password, 'New password'
            %td
              .relative= f.input_field :password, required: true, autofocus: true
            %td= f.error :password
          %tr
            %td= f.label :password_confirmation, 'Confirm your new password'
            %td
              .relative= f.input_field :password_confirmation, required: true
            %td= f.error :password_confirmation

      .form-actions
        = f.button :submit, "Change my password"
