.spinner
  .dropdown
    = link_to '#', class: 'dropdown-toggle', data: { toggle: :dropdown } do
      .progress-pie-chart.onboard-tip-progress{ data: { percent: "#{percent_completed}" } }
        .ppc-progress
          .ppc-progress-fill
      .ppc-percents
        .pcc-percents-wrapper
          %span
    .dropdown-menu.onboard-tip-progress-fly
      .progress-percent
        %h1
          #{percent_completed}% Complete
      .progress-list
        %ul
          = item_link_to "Add #{labels[:photo]}", edit_profile_photo_path, progresses[:photo]

          .data-edit{ data: { edit: 'edit-general-info' } }
            = item_link_to "Add #{labels[:type].titleize} Information",
                           edit_profile_general_info_path,
                           progresses[:personal_information]

          = item_link_to "Add #{labels[:biography]}",
                         edit_profile_biography_path,
                         progresses[:biography]

          = item_link_to 'Connect Social Account', edit_profile_social_path, progresses[:social_account]

          = item_link_to 'Enable Donations', profile_builder_payment_account_path, progresses[:donations]

          = item_link_to "Add #{labels[:issues]}", profile_issues_path, progresses[:issues]

          = item_link_to 'Add Campaign Update',
                         new_profile_social_post_path,
                         progresses[:campaign_update]

          = item_link_to 'Add Background Image',
                         edit_profile_background_image_path,
                         progresses[:background_image]

          = item_link_to 'Add Featured Media', edit_profile_hero_unit_path, progresses[:hero_unit]

          = item_link_to 'Add to Photostream', edit_profile_media_stream_path, progresses[:media_stream]

          = item_link_to 'Add Events', profile_events_path, progresses[:events]

          = item_link_to 'Add Press', profile_press_releases_path, progresses[:press_releases]

          .data-edit{ data: { edit: 'contact-info' } }
            = item_link_to 'Add Contact Info', edit_profile_general_info_path, progresses[:contact_info]
