%div
  = f.label :email
  %div.input-icon.username
    = f.input_field :email
    = f.error :email

%div
  = f.label :password
  %div.input-icon.password
    .relative
      = f.input_field :password
    = f.error :password

%div
  = f.label :password_confirmation, 'Repeat Password'
  %div.input-icon.password
    .relative
      = f.input_field :password_confirmation
    = f.error :password_confirmation
