- unless profile.premium?
  #footer.section.navbar.navbar-default
    #footer-nav.collapse.navbar-collapse
      %ul.list-unstyled.nav.navbar-nav
        %li= link_to 'Home', root_url(subdomain: nil)
        %li= link_to 'FAQ', front_faq_path
        %li= link_to 'Terms of Service/Privacy Policy', front_terms_path
        %li= link_to 'Contact Us', front_contact_us_path

      - unless show_navigation?
        .cta= link_to 'Accounts Start Here', root_url(subdomain: false, show_signup_popup: true)

    .navbar-header
      = button_tag class: 'navbar-toggle', data: { toggle: 'collapse', target: '#footer-nav' } do
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to "#{app_name}", root_url(subdomain: nil), class: 'navbar-brand'
