%h2= donation_engine
= show_for @payment_account do |payment_account|
  = payment_account.attribute :email
  = payment_account.attribute :account_full_name
  = payment_account.attribute :account_committee_name
  = payment_account.attribute :account_committee_id
  = payment_account.attribute :account_address
  = payment_account.attribute :account_city
  = payment_account.attribute :account_state
  = payment_account.attribute :account_zip
  = payment_account.attribute :account_recipient_kind
  = payment_account.attribute :account_district_or_locality
  = payment_account.attribute :account_campaign_disclaimer
  = payment_account.attribute :contribution_limit do
    = number_to_currency(@payment_account.contribution_limit)
  = payment_account.attribute :show_employer_name?, wrapper_html: { id: 'show_employer_name' }
  = payment_account.attribute :show_employer_address?, wrapper_html: { id: 'show_employer_address' }
  = payment_account.attribute :show_occupation?, wrapper_html: { id: 'show_occupation' }
  = payment_account.attribute :bank_account_name
  = payment_account.attribute :bank_routing_number
  = payment_account.attribute :bank_account_number
  = payment_account.attribute :contact_first_name
  = payment_account.attribute :contact_last_name
  = payment_account.attribute :contact_email
  = payment_account.attribute :contact_phone
  = payment_account.attribute :contact_address
  = payment_account.attribute :contact_city
  = payment_account.attribute :contact_state
  = payment_account.attribute :contact_zip
  = payment_account.attribute :uuid
  = payment_account.attribute :created_at
  = payment_account.attribute :updated_at
  = payment_account.attribute :account_party
  = payment_account.attribute :is_active_on_de?, wrapper_html: { id: 'is_active_on_de' }
  = payment_account.association :credit_card do |credit_card|
    = credit_card.last_four
  = payment_account.attribute :agreements

= link_to t('.edit', default: t('helpers.links.edit')), edit_admin_payment_account_path, class: 'btn btn-default'
