%p Hi, #{@profile.name}!

%p It looks like your credit card ending in #{@card.last_four} is about to expire! To maintain uninterrupted Premium service, please log in to your #{app_name} site and update your card information. Thanks for using #{app_name}!

%p= link_to 'Update My Card Info', root_url
