.welcome-screen-overlay{ class: "welcome-screen-#{current_profile.labels[:type]}" }
  .row
    .col-xs-12.welcome-body
      .row
        .col-xs-5.welcome-greetings
          %h1 Welcome to #{app_name}!
          %p
            In just a few short steps you'll be able to build a great looking,
            powerful and easy-to-use political website. Let's get started and we'll show you how. Please remember your site will not be live until you upgrade your account.
          = link_to 'Build my site','#', class: 'button large js-welcome-btn'
        .col-xs-7
          .row
            .col-xs-4.welcome-admin-option
              %ul.no-style
                %li.icon-pointer.down
                  %span.option-title Dashboard
                  - if current_profile.candidate?
                    is your campaign headquarters when you log in
                  - else
                    is your organization headquarters when you log in
                  %li.icon-pointer
                    %span.option-title Builder
                    is where you add or edit content on your #{app_name} site
                  %li.icon-pointer.up.additional-space
                    %span.option-title Settings
                    is where you manage your #{app_name} site and donation settings
                  %li.icon-pointer.additional-space
                    %span.option-title Account
                    is where it you adjust account settings or logout
            .col-xs-8.welcome-admin-show-wrap
              .welcome-admin-show-panel
                .show-panel-inner
                  .show-panel-info
                    = image_tag image_path("onboarding/welcome_admin_icons_#{ruckus? ? 'ruckus' : 'wingop'}.png")
                    .show-panel-data
                      %span Your Name
                      %span.sitename #{app_name}
